html {
    background-color:#ebebeb;
    max-width: 900px;
    margin: auto;
}

body {
    background-color:#ffffff;
    font-family: 'Lucida Sans Unicode';
    margin: 10px;
    padding: 20px;
    border: #adadad 1px solid;
}

.menu {
    float: left;
    width: 150px;
}

.contenido {
    float: right;
    width: 630px;
    padding: 20px;
    border: #adadad 1px solid; 
}

/* Limpia los floats despues de las columnas */
.row:after {
    content: "";
    display: table;
    clear: both;
}

span {
    color: #c0a755;
}

h1 {
    color: #68a762;
    text-align: center;
}

h2 {
    color: #7dca76;
    border-bottom: 1px solid #7dca76;
}

h3 {
    color: #c0a755;
}

ul {
    list-style-type:none;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

li {
    flex-grow: 1;
}

a {
    display: block;
    padding: 1px;
    background-color:#8bdb89;
    border: #adadad 1px solid; 
    margin-top: 2px;
    margin-bottom: 2px;
    text-align: center;
    text-decoration: none;
    color: black;
}

a:hover {
    background-color:#db9c89;
}

.seleccion  {
    background-color:#db9c89;
}
