html {
    background-color:#ebebeb;
}

body {
    background-color:#ffffff;
    font-family: 'Lucida Sans Unicode';
    margin: 10px;
    padding: 20px;
    border: #adadad 1px solid;
}

.contenido {
    padding: 20px;
    border: #adadad 1px solid; 
}

span {
    color: #c0a755;
}

h1 {
    color: #68a762;
}

h2 {
    color: #68a762;
    border-bottom: 1px solid #68a762;
}

h3 {
    color: #c0a755;
}