.grid-container1 {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
  }
  
  .grid-container1 > div {
    border: 1px solid black;
    text-align: center;
    padding: 10px;
    margin: 5px;
    background-color: rgb(230, 230, 230);
  }
  
  .grid-container2 {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    padding: 10px;
  }
  
  .grid-container2 > div {
    border: 1px solid black;
    text-align: center;
    padding: 10px;
    margin: 5px;
    background-color: rgb(230, 230, 230);
  }
  
  .divCalc {
    width: 500px;
    height: 225px;
  }

  .divResultado {
    width: 500px;
    height: 20px;
  }

  #resultado {
    display: inline-block;
    width: 480px;
    height: 20px;
    border: 1px solid black;
    background-color: rgb(240, 240, 240);
    text-align:right;
    padding-right: 10px;
  }

  .calculadora {
      background-color: rgb(193, 200, 206);
      padding: 10px;
      margin: 5px;
      width: 490px;
      height: 170px;
      border: 1px solid black;
  }