html {
    background-color:#ebebeb;
    max-width: 900px;
    margin: auto;
}

body {
    background-color:#ffffff;
    font-family: 'Lucida Sans Unicode';
    margin: 10px;
    padding: 20px;
    border: #adadad 1px solid;
}

.menu {
    float: left;
    width: 15%;
}

.contenido {
    float: right;
    width: 75%;
    padding: 20px;
    border: #adadad 1px solid; 
}

/* Limpia los floats despues de las columnas */
.row:after {
    content: "";
    display: table;
    clear: both;
}

span {
    color: #c0a755;
}

h1 {
    color: #68a762;
    text-align: center;
}

h2 {
    color: #7dca76;
    border-bottom: 1px solid #7dca76;
}

h3 {
    color: #c0a755;
}